AWS_REGION=us-east-1
TICKET_ENV=academy
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=ticket_user
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE=tickets.exchange
RABBITMQ_QUEUE=tickets.buy
RABBITMQ_ROUTING_KEY=ticket.buy
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=tickets
POSTGRES_USER=ticket_user
POSTGRES_PASSWORD=
SQS_DLQ_URL=
WORKER_PREFETCH=1
MAX_ATTEMPTS=3
PAYMENT_DELAY_MS=100
LOG_LEVEL=INFO
